.a1{
    color: green;
    text-decoration: underline;
}

.a2{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.a3{
    text-decoration: overline underline;
}

.a4{
    font-size: 30px;
    font-weight: bold;
}

.a5{
    color: blue;
    font-weight: bold;
}

.a6{
    color: red;
    text-decoration: underline;
}
